# Android Studio 
*.iml
.gradle/
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# macOS specific files
.DS_Store

# Windows specific files
Thumbs.db

# Android build files
/build/
captures/
.externalNativeBuild/
.cxx/

# Local configuration files
local.properties
